doctype html
html
  head
    title= title
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    link(rel='stylesheet', href='/assets/bootstrap/bootstrap.css')
    script(src='/assets/bootstrap/js/bootstrap.js')
  body
    block content
